<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= css '960.css' %>
  <%= erb :header %>
</head>

<body>

<%= erb :navigation %>

<%= erb :help %>

<div id="tilda"></div>
<div id="codeResults" class='results' style='display: none;'></div>

<div id="preso">loading presentation...</div>

<div id="slides" class="offscreen"></div>

<%= footer %>

<div id="pauseScreen">
  <%= pause_message %>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    presentation = new Presentation('<%= presentation_path_prefix %>');

    var locationWatcher = new LocationWatcher();
    locationWatcher.start();

    /* Add Support for Touch Devices */

    var presoElement = document.getElementById('preso');

    Hammer(presoElement).on("swipeleft", function() {
      $.publish("presentation:slide:next");
    });

    Hammer(presoElement).on("swiperight", function() {
      $.publish("presentation:slide:previous");
    });

    // bind event handlers
    /* window.onresize  = resized; */
    /* window.onscroll = scrolled; */
    /* window.onunload = unloaded; */

  });

</script>

</body>
</html>
