<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= css 'reset.css' %>
  <%= css '960.css' %>
  <%= css 'ghf_marked.css' %>
  <%= css 'themes/default.css', 'slide_formats.css' %>
  <%= css 'print.css' %>
  <%= plugin_css_files %>
  <%= theme_css %>
  <%= custom_css_files %>

  <!-- Even though this is the print representation, this is required if any
       slides have custom JavaScript -->

  <%= js 'jquery-1.4.2.js' %>
</head>

<body>

<div id="slides">
  <%= slides %>
</div>

</body>
</html>
